@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #3A3240;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #3A3240 !important;
    border: none !important;
    box-shadow: 0 3px 12px #8C4278 !important;
}

a.nav-link {
    color: #F2F2F2 !important;
}

    a.nav-link:hover {
        color: #8C4278 !important;
    }

.footer {
    left: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    border-color: #8C4278 !important;
    background-color: #3A3240 !important;
    line-height: 30px !important;
}

.note-editor .dropdown-toggle::after {
    display: none;
}

#chat3 .form-control {
    border-color: transparent;
}

    #chat3 .form-control:focus {
        border-color: transparent;
        box-shadow: inset 0px 0px 0px 1px transparent;
    }

.badge-dot {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-left: 2.9rem;
    margin-top: -.75rem;
}